{
    "url": "http://192.168.0.81:5000/BPserver?vitals=",
    "database": {
        "host": "127.0.0.1",
        "user": "ghii",
        "passwd": "",
        "database": "Hypertension"
    },
    "BP": {
        "bp_port": "/dev/serial/by-id/usb-Prolific_Technology_Inc._USB_2.0_To_COM_Device-if00-port0",
        "baudrate": "9600",
        "bytesize": 8,
        "timeout": "serial.PARITY_NONE",
        "stopbits": 1
    },
    "gsm": {
        "id": "/dev/ttyUSB0",
        "baudrate": 9600,
        "timeout": 0.5
    },
    "server_db": {
        "host": "127.0.0.1",
        "user":  "ghii",
        "passwd": "",
        "database": "BP_server"
    },
    "server_gsm": {
        "id": "/dev/ttyS0",
 
        "baudrate": 9600
    },
    "flask_app":{
        "host": "192.168.0.162",
        "port": 5000
    },
    "server_number": "+265886574378",
    "client_number": "+265886574368"
}